version: "3.9"

services:

    redis:
        image: redis
        ports:
            - 6379:6379
        volumes:
            - prototype-redis:/data
        restart: always

    postgres:
        depends_on:
            - redis
        image: postgres
        secrets:
            - postgres-user
            - postgres-password
        environment:
            - PGDATA=/var/lib/postgresql/data/pgdata
            - POSTGRES_USER_FILE/run/secrets/postgres-user
            - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password
        ports:
            - 5432:5432
        volumes:
            - prototype-postgres:/var/lib/postgresql/data
        restart: always

    prototype:
        depends_on:
            - redis
            - postgres
        build:
            context: .
            dockerfile: etc/docker/prototype-debug.Dockerfile
            target: final
        ports:
            - 5000:5000
        restart: always

    nginx:
        depends_on:
            - redis
            - postgres
            - prototype
        build:
            context: .
            dockerfile: etc/docker/nginx-debug.Dockerfile
        ports:
            - 80:80
            - 443:443
        restart: always

secrets:

    postgres-user:
        file: secrets/postgres-user
    postgres-password:
        file: secrets/postgres-password
    discord-token:
        file: secrets/discord-token

volumes:

    prototype-redis:
        external: true
    prototype-postgres:
        external: true